@font-face {
  font-family: 'Lora';
  src: url('~assets/font/Lora-Regular.ttf') format('truetype'),
  url('~assets/font/Lora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}