.example-1 {
  display: flex;
  color: red;
  font-family: 'Lora', sans-serif;
  background: url('assets/img/img.png');
  background-size: contain;
}

.example-2 {
  background: url('assets/img/gifka.gif');
  background-size: contain;
  height: 500px;
}